@font-face
{
	font-family: JosefinSans;
	src: url('../assets/external_assets/G-Fonts/JosefinSans-Regular.ttf');
}
*
{
	outline: none;
	box-sizing: border-box;
	transition: 0.3s ease;
}
body
{
	font-family: JosefinSans;
	margin: 0;
	padding: 0;
	background: #f2f2f3;
    background-size: cover;
	height: 100vh;
	background-position: center;
}
.wrapper
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #f3f3f3;
    padding: 20px;
    width: 500px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 #737373;
}
.wrapper header
{
	border-bottom: 1px solid #c3c0c0;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0 0 10px 0;
} 
.wrapper header .he_sp
{
	border-bottom: 4px solid #2196f300;
	padding: 0 10px 10px 10px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}
.wrapper header .he_sp.active_btn
{
	/*border-bottom: 4px solid #2196F3;*/
	border-bottom: 4px solid #ef4143;
}
.wrapper .log_up_f
{
	margin: 20px 0 0 0;
	border: 0px solid #000;
} 
.wrapper .log_up_f .form_input
{
	width: auto;
	margin: 10px 0;
} 
.wrapper .log_up_f .form_input input
{
	width: 100%;
	height: 40px;
	font-size: 20px;
	padding: 3px 0 0 10px;
	font-family: JosefinSans;
	color: #333;
	font-weight: 600;
	border: 2px solid #d0d0d0;
	border-radius: 7px;
}
.wrapper .log_up_f .form_input button
{
	width: 100%;
	height: 40px;
	font-size: 20px;
	font-family: JosefinSans;
	background: #e0e0e0;
	color: #333;
	font-weight: 600;
	border: 1px solid #a7a7a700;
	border-radius: 7px;
	cursor: pointer;
} 
.wrapper .log_up_f .form_input input:focus,
.wrapper .log_up_f .form_input button:hover
{
	box-shadow: 0 1px 3px 0 #989898;
	border: 1px solid #0000;
}
.errTxt
{
	border: 0px solid #000;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 #8c8c8c;
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: auto;
	text-align: center;
	padding: 10px 14px;
	color: #ff1313;
	font-weight: 400;
}